@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&family=Questrial&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    outline: none;
}
